# Reaper
# waveform cache files
*.reapeaks
# project backup files
*.rpp-bak

# Rendered MP3 files temporary directory
/tmp

# Old directories with missing sources and FL Studio project files
/2015
/2014
